<header class="flex flex-row flex-wrap items-center justify-center w-full py-4 px-5 text-center border-t gap-y-6 gap-x-12 shadow-md border-slate-200 md:justify-between">
    <p class="block text-slate-800 font-semibold text-sm">
        Demo App
    </p>
    <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
        <li>
            <a href="#" class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm">
                Customers
            </a>
        </li>
        <li>
            <a href="#" class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm">
                Projects
            </a>
        </li>
        <li>
            <a href="#" class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm">
                Contact Us
            </a>
        </li>
    </ul>
</header>