<div class="relative flex flex-col justify-start mb-6 bg-white shadow-sm border border-slate-200 rounded-lg">
    <div class="p-4">
        <h5 class="mb-2 text-slate-800 text-xl font-semibold">
            {{ project }}
        </h5>
        <p class="text-slate-600 leading-normal font-light">
            <strong>Customer:</strong> {{ project.customer }}
        </p>
        <p class="text-slate-600 leading-normal font-light">
           <strong>Description:</strong> {{ project.description }}
        </p>
        <p class="text-slate-600 leading-normal font-light">
            <strong>Created on:</strong> {{ project.created_on|date }}
        </p>
        <p class="text-slate-600 leading-normal font-light">
            {{ project.files.count }} Files
        </p>
    </div>
</div>
